<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="login">

	<insert id="insert_account" parameterType="com.tissue_cell.dto.UserDTO">
		INSERT INTO user (id, password, name, datetime) VALUES (#{id}, #{password}, #{name}, NOW())
	</insert>
	
	<select id="select_duplication" parameterType="String" resultType="int">
		SELECT COUNT(ID) from user WHERE id = #{id}
	</select>
	
	<select id="select_user" parameterType="String" resultType="com.tissue_cell.dto.UserDTO">
		SELECT * FROM user WHERE id = #{id}
	</select>
	
	<update id="update_user_token" parameterType="com.tissue_cell.dto.UserDTO">
		UPDATE user SET token = #{token} WHERE id = #{id}
	</update>
	

</mapper>